In [9]:
##AUTOCOMPLETAR
%config IPCompleter.greedy=True
##pandas.read_cvs(r"C:\user\df.cvs") para leer

# Carga de datos

In [17]:
import pandas as pd
mainpath='C:/Users/crist/Documents/GitHub/python-ml-course/datasets'
filename='/titanic/titanic3.csv'
fullpath=mainpath + filename

data=pd.read_csv(fullpath)
data.head()
#cargar el filepath como variable: recomendado
#main

#A través de os library
import os
fullpath=os.path.join(mainpath,fullpath)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Parámetros read_csv

filepath="url": directorio del fichero de forma absoluta

sep=" " : separador datos, coma por defecto en CSV / expresión regular

dtype="None": tipo de datos de columna. ej:dtype{"nombre_a":np.float64, "nombre_b":np.int32}

header=None: qué fila se utiliza como cabecera, header=0 normalmente

names=nombres de las columnas: lista o array

skyprows=None: saltar filas

index_col=None: identificador de columnas

skip_blank_lines= bool: deja en blanco un dato faltante

na_filter=bool: eliminar fila que contenga un dato na

## OPEN para lectura de ficheros grandes

data=open(fullpath)

Añadir parámetros: 'r' para leer, 'w' para escribir (el fichero original pierde su contenido) a la función open, 'a' append para añadir al final del fichero

Carga manual de datos: clase 24/26

In [ ]:
cols = data3.readline().strip().split(",")
n_cols = len(cols)
#######################
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []
###############################  Lectura de filas
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1
######################################
print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))
#################################### Convertir a DF
df3 = pd.DataFrame(main_dict)
df3.head()

In [ ]:
#Escritura de ficheros
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")
            
##################

df4 = pd.read_csv(outfile, sep = "\t")
df4.head()

### Scrapping function

In [ ]:
def downloadFromURL(url, filename, sep = ",", delim = "\n", encoding="utf-8", 
                   mainpath = "/content/drive/My Drive/Curso Machine Learning con Python/datasets"):
    #primero importamos la librería y hacemos la conexión con la web de los datos
    import urllib3
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data ## CORREGIDO: eliminado un doble decode que daba error
    
    #El objeto reponse contiene un string binario, así que lo convertimos a un string descodificándolo en UTF-8
    str_data = response.decode(encoding)

    #Dividimos el string en un array de filas, separándolo por intros
    lines = str_data.split(delim)

    #La primera línea contiene la cabecera, así que la extraemos
    col_names = lines[0].split(sep)
    n_cols = len(col_names)

    #Generamos un diccionario vacío donde irá la información procesada desde la URL externa
    counter = 0
    main_dict = {}
    for col in col_names:
        main_dict[col] = []

    #Procesamos fila a fila la información para ir rellenando el diccionario con los datos como hicimos antes
    for line in lines:
        #Nos saltamos la primera línea que es la que contiene la cabecera y ya tenemos procesada
        if(counter > 0):
            #Dividimos cada string por las comas como elemento separador
            values = line.strip().split(sep)
            #Añadimos cada valor a su respectiva columna del diccionario
            for i in range(len(col_names)):
                main_dict[col_names[i]].append(values[i])
        counter += 1

    print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))

    #Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
    df = pd.DataFrame(main_dict)
    print(df.head())

    #Elegimos donde guardarlo (en la carpeta athletes es donde tiene más sentido por el contexto del análisis)
    fullpath = os.path.join(mainpath, filename)

    #Lo guardamos en CSV, en JSON o en Excel según queramos
    df.to_csv(fullpath+".csv")
    df.to_json(fullpath+".json")
    df.to_excel(fullpath+".xls")
    print("Los ficheros se han guardado correctamente en: "+fullpath)
    
    return df

In [ ]:
medals_df = downloadFromURL(medals_url, "athletes/downloaded_medals")
medals_df.head()

### Leer datos de URL

In [6]:
import pandas as pd
url="http://winterolympicsmedals.com/medals.csv"
data=pd.read_csv(url)

import csv
import urllib3 ##otra librería para trabajar con url

data.head()
##Scrapp de una web + creación de dataframe. Clase 27

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

### Leer datos desde Excel (XLS y XLSX)

In [ ]:
mainpath='C:/Users/crist/Documents/GitHub/datasets'
filename='/data/file.xls'
fullpath=mainpath + filename
data=pd.read_excel(fullpath, "hoja1")
#El segundo argumento es la hoja que se quiere leer

#data.to_csv(path.csv)
#data.to_excel(path.xls)

## Estructura y resumen de datos

data.head(n): ver las n primeras filas del dataset

data.tail(n): ver las n últimas filas del dataset

data.shape :  dimensión (filas,columnas) del dataset

data.columns (índices de las columnas)

data.columns.values : valores de las columnas

data.describe() : resumen estadístico del df

data.dtypes : tipos de datos de cada columna

# Missing values

In [ ]:
#comprobar si faltan datos
pd.isnull(data["column"])

pd.notnull(data["column"])

#Devuelven valores booleanos si son o no nulos

pd.isnull(data["column"]).values ##Array de booleanos

pd.isnull(data["column"]).values.ravel.sum() ##Conteo de NULLS// ravels genera un vector único.

### Borrado de Missing Values

In [ ]:
#Borrado de la fila
data.dropna(axis=0, how="all") #si todas sus columnas tiene NA
data.dropna(axis=0, how="any")  #si alguna columna tiene NA

#Borrado de la columna
data.dropna(axis=1)

### Imputación/sustitución de Missing Values

fillna no reescribe el dataframe original, hay que crear copia d=d.fillna()

data.fillna(value o "string") :sustituir todo el DF=NaN por value

data["columna"].fillna(value) :  sustituir por columna

### Imputación por estadístico

In [ ]:
pd.isnull(["col"]).value.ravel().sum()

data["coll"].fillna(data["col"].mean()) ##truncar si es necesario 

#podemos usar median(),  funciones lambda predefinidas o moda

forwardfill: reemplazar con el más cercano hacia adelante

backwardfill: reemplazar con el más cercano hacia atrás

In [ ]:
data["col"].fillna(method="ffill")

data["col"].fillna(method="backfill")

## Variables dummies

In [ ]:
import pandas as pd
dummy=pd.get_dummies(data["col"], prefix="prefijo")

##nos cargamos la columna que hemos convertido a dummy
data=data.drop(["column"], axis=1)

#añadimos la tabla de dummies al daframe original

data=pd.concat([data, dummy], axis=1)

#axis=1 POR COLUMNAS

In [ ]:
#función automática
def createDummies(df, var_name):
    dummy = pd.get_dummies(df[var_name], prefix=var_name)
    df = df.drop(var_name, axis = 1)
    df = pd.concat([df, dummy ], axis = 1)
    return df

#var_name="string"

# Visualización básica

## Scatterplot

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data.plot(kind="scatter", x="x_axis", y="y_axis")

In [ ]:
#Panel de plots
figure, axs = plt.subplots(2,2, sharey=True, sharex=True)
data.plot(kind="scatter", x="x_axe0", y ="y_axe0", ax=axs[0][0])
data.plot(kind="scatter", x="x_axe0", y="y_axe1", ax=axs[0][1])
data.plot(kind="scatter", x="x_axe1", y ="y_axe0", ax=axs[1][0])
data.plot(kind="scatter", x="x_axe1", y="y_axe1", ax=axs[1][1])

## Histogram

In [ ]:
k = int(np.ceil(1+np.log2(3333))) ##métodos de elección de K
plt.hist(data["Col], bins = k) #bins = [0,30,60,...,200]
plt.xlabel("Variable")
plt.ylabel("Frecuencia")
plt.title("Histograma")

## Boxplot

In [ ]:
plt.boxplot(data["Column"])
plt.ylabel("Variable")
plt.title("Boxplot")

In [ ]:
data["Column"].describe()

#### ~Cálculo de estadísticos

In [ ]:
IQR=data["Column"].quantile(0.75)-data["Column"].quantile(0.25)
IQR

In [ ]:
data["Column"].quantile(0.25) - 1.5*IQR

In [ ]:
data["Column"].quantile(0.75) + 1.5*IQR